<footer>
   <header>
      <span>СВЪРЖЕТЕ СЕ С НАС</span>
      <span class="phone">+359 – 878 – 811 – 354</span>
   </header>
   <article class="container">
      <section>
         <header>
            <h3>Карта на сайта</h3>
            <ul>
               <li></li>
               <li></li>
            </ul>
         </header>
      </section>
      <section>
         <header>
            <h3>Посетете ни</h3>
         </header>
      </section>
      <section>
         <header>
            <h3>Пишете ни</h3>
         </header>
      </section>
   </article>
   <div class="subfooter"></div>
</footer>
