<div parallax id="scroll-ref" class="parallax-background" [config]="{axis: 'Y', speed: -0.5, scrollerId: 'scroll-ref'}">
  <section class="container">
    <p>Основахме Тиара - България ЕООД в далечната 1998 с една единствена цел - качествени мебели, произведени в
      България.
      С времето изградихме лоялна база клиенти, на които доказахме, че гласуваното доверие ще бъде оправдано. В момента
      изграждаме новата си интернет страница, на която ще имате възможността да се запознаете с последните ни проекти,
      както и с какво можем да ви бъдем полезни.</p>
    <figure>
      <img src="/assets/manager-profile-picture-thumbnail.jpeg" alt="Manager profile picture">
      <span class="name">Драгомир Тодоров</span>
      <span class="role">Основател и мениджър</span>
    </figure>
  </section>

</div>

