<section class="container">
  <header>
    <h2>НАШИТЕ ПАРТНЬОРИ</h2>
    <p>Tiara Furniture Ltd 2018 | С централен офис и производство, намиращо се в слънчева Варна, ние изградихме
      ползотворни контакти с партньори в цялата страна и на територията на Европейския съюз, с които развиваме
      двустранно сътрудничество.</p>
  </header>
  <div class="partner-container">
    <figure><img src="/assets/partner-jaf.png" alt="jaf"></figure>
    <figure><img src="/assets/partner-hettich.png" alt="hettich"></figure>
    <figure><img src="/assets/partner-egger.png" alt="egger"></figure>
    <figure><img src="/assets/partner-blum.png" alt="blum"></figure>
  </div>
</section>
