.bg-wrapper {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: url("/assets/contacts.jpg");
   background-color: rgba(0, 0, 0, 0.8);
   background-blend-mode: multiply;
}

section {
   display: flex;
   color: white;
   padding: 2rem 0;

   .acrylic-card {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 2rem 2rem;
      margin: 1rem;
      border-radius: 0.25rem;
      background: rgba(255, 255, 255, 0.1);

      header {
         margin: 2rem 0;

         h4 {
            color: #e5ae49;
            font-weight: bold;
         }

         .subtitle {
            color: #c6c6c6;
         }

         p {
            font: inherit;
         }
      }
      .content {
         flex: 1;
      }

      .footer {
         margin-top: 1rem;
      }

      a {
         color: white;
         transition: color 300ms ease-in-out;
         display: flex;
         .mat-icon {
            margin-left: 0.25rem;
         }
      }

      a:hover {
         text-decoration: none;
         color: #e5ae49;
      }
      label {
         width: 100%;
      }

      input {
         font-family: 'Open Sans', sans-serif;
      }
   }
}

@media screen and (max-width: 1000px) {
   section {
      .acrylic-card {
         header {
            margin: 1rem 0 0.5rem;
         }
      }
   }
}

@media screen and (max-width: 768px) {
   section {
      flex-direction: column;
      .acrylic-card {
         margin: 1rem 2rem;
      }
   }
}
/*
@media screen and (max-width:576px) {
   .acrylic-card {
      flex: 0 0 100%;
   }
}*/

