.bg-wrapper {
   background: url("/assets/contacts.jpg") rgba(0, 0, 0, 0.8);
   background-size: cover;
   background-blend-mode: multiply;
}

section {
   display: flex;
   color: white;
   padding: 2rem 0;

   .acrylic-card {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 2rem 2rem;
      margin: 1rem;
      border-radius: 0.25rem;
      background: rgba(255, 255, 255, 0.1);

      header {
         margin: 2rem 0;

         h4 {
            color: #e5ae49;
            font-weight: bold;
         }

         p {
            font: inherit;
         }
      }
   }

   .content {
      flex: 1;
   }

   .footer {
      margin-top: 1rem;
   }

   a {
      color: white;
      transition: color 300ms ease-in-out;
      display: flex;
      .mat-icon {
         margin-left: 0.25rem;
      }
   }

   a:hover {
      text-decoration: none;
      color: #e5ae49;
   }
}
