<div class="bg-wrapper">
   <section class="container-fluid">
      <div class="acrylic-card">
         <header>
            <h4>ПОРЪЧАЙТЕ</h4>
            <p class="subtitle">Купете мебели за вашия дом</p>
         </header>
         <div class="content">
            <p>Посетете нашия магазин и разгледайте предложенията ни.</p>
         </div>
         <div class="footer"><a href="#">Към магазин
            <mat-icon>shopping_cart</mat-icon>
         </a></div>
      </div>
      <div class="acrylic-card">
         <header>
            <h4>ЗАВЕРЕТЕ ОФЕРТА</h4>
            <p class="subtitle">Доверете се на експертен съвет</p>
         </header>
         <div class="content">
            <p>Споделете с нас идеи и предложения за Вашия нов проект.</p>
         </div>
         <div class="footer">
            <a href="#">Заявете оферта</a>
         </div>
      </div>
      <div class="acrylic-card">
         <header>
            <h4>СЛЕДВАЙТЕ НИ</h4>
            <p class="subtitle">за нови намаления</p>
         </header>
         <div class="content">
            <label for="subscribe-input">
               <input placeholder="Email"
                      class="form-control"
                      name="subscribe-input"
                      id="subscribe-input"
                      type="email"
                      aria-describedby="emailHelp">
            </label>
         </div>
         <div class="footer">
            <a href="#">Абонирай се
               <mat-icon>send</mat-icon>
            </a>
         </div>
      </div>
   </section>
</div>
